<div class="row">
  <div class="col-xl-6">
    <div class="blog-left">
      <a href="{{ article.url }}" title="{{ article.title }}">
        {% if article.image == blank %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
        <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}" title="{{ article.title }}" class="img-fluid">
        {% endif %}
      </a>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="blog-right">
      <div>
        {% if show_blog_date %}
        <h6 class="post-date selective-orange" >{{ article.published_at | date: "%d %b, %Y" }}</h6>
        {% endif %}
        <a href="{{ article.url }}" title="{{ article.title }}">
         {% assign data_title = article.title | split: '|' | first %}
          {% assign data_json = article.title | split: '|' | last %}
          <h4 {% if settings.enable_lang_switcher %}class="lang_trans" data-trans="#{{article.id}}_post_title"{% endif %}>
            {{ data_title | truncatewords: 12 }}
          </h4>
          {% if settings.enable_lang_switcher %}
          <span class="hide" id="{{article.id}}_post_title">{{ data_json | raw }}</span>
          {% endif %}
         </a>
        <ul class="post-social selective-green">
          {% if show_blog_auther %}
          <li >Posted By : {{ article.author | truncatewords: 1, '' }} </li>
          {% endif %}
          {% if show_blog_comments %}
          <li><i class="fa fa-comments"></i> {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</li>
          {% endif %}
        </ul>
        <p>{{ article.content | truncatewords: '30' }}</p>
      </div>
    </div>
  </div>
</div>