<!--small slider section-->
{% if section.settings.enabled %}
<section style="padding-bottom:40px; " class="sliders sliders-layout-2 section-b-space bg-colums mobile-coumns layout-4-banner{% if section.settings.use_equal_height %}equal_height {{ section.settings.image_ratio }} {{ section.settings.image_size }} bg_pos_{{ section.settings.image_position }}{% endif %}"
        style=" {% if section.settings.enable_bg_img %}background-image: url({{ section.settings.slider | img_url: 'master' }});{% else %}
                background-color: {{ section.settings.bg_color }};{% endif %}" >
  <div class="container">
    <div class="row col-abjust section-mix new-demo-style">
       {% for block in section.blocks %}
        {% capture blockId %}{{ block.id }}{% endcapture %}
      {% if block.type == 'banner' %}
      <div class="col-xl-3   col-md-6 col-sm-12 md-center-banner responsive-banner">
        {% if section.settings.use_equal_height %}
        <div>
          <span class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" 
                data-bgset="{% include 'bg-set', image: block.settings.image %}" data-sizes="auto" data-parent-fit="cover"
                style="background-image: url('{{ block.settings.image | img_url: 'master' }}');"></span>
        </div>        
        {% else %}
        {% assign block_image = block.settings.image %}
        <img src="{{ block_image | img_url: 'master' }}" 
             class="lazyload img-fluid  {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid {% if section.settings.img_width == "full" %} w-100{% endif %}" {% if section.settings.img_width == "full" %} w-100{% endif %}alt="{{block_image.alt}}" >
        {% endif %}  
      </div>
      {% elsif block.type == 'column' %}
      {% assign collection = collections[block.settings.collection] %}
      {% assign collection = collections[block.settings.collection] %}
      <div class="col-xl-2  col-md-6 col-sm-12 {% if forloop.index == 2 %} mt-0 mobile-colums-layout-4{% endif %}">
        <div class="theme-card">
          <h2 class="title title-layout-2 {% if settings.enable_lang_switcher %}lang_trans{% endif %}" {% if settings.enable_lang_switcher %}data-trans="#trans_title{{blockId}}_title"{% endif %}>
            {{ block.settings.title }}
          </h2>
          {% if settings.enable_lang_switcher %}
          <span class="hide" id="trans_title{{blockId}}_title">{{ block.settings.trans_title | raw }}</span>
          {% endif %}
          <div class="offer-slider offer-slider-layout-2 slide-1 theme-slider">
            <div>
              {% if collection.empty? %}
              {% capture current %}{% cycle 1,2,3,4,1,2 %}{% endcapture %}
              {% for i in (1..4) %}
              <div class="media">
                <a href="#" >
                  {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
                <div class="media-body align-self-center">
                  <a href="#">  <h6 {% if settings.enable_lang_switcher %}data-trans-key="homepage.onboarding.product_title"{%endif%}>{{ 'homepage.onboarding.product_title' | t }}</h6>   

                  </a>
                  <h4>{{ '$20.00' }}</h4>
                </div>
              </div>              
              {% endfor %}
              {% else %}
              {% for product in collection.products limit:4 %}
              {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
              {% if thecycle == 'odd' %}
              <div class="media">
                <a href="{{ product.url | within: collection }}" >
                  {% if section.settings.use_equal_height %}
                  <div>
                    <span class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" data-bgset="{% include 'bg-set', image: product.featured_image %}" data-sizes="auto" data-parent-fit="cover"></span>
                  </div>        
                  {% else %}
                  {% assign block_image = product.featured_image %}
                  {% assign img_url = block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img src="{{ block_image | img_url: 'original' }}" 
                       data-src="{{ img_url }}" 
                       data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
                       data-aspectratio="{{  block_image.aspect_ratio }}" 
                       data-sizes="auto" 
                       class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" alt="{{block_image.alt}}"
                       >
                  {% endif %}
                </a>
                <div class="media-body align-self-center">
                  <a href="{{ product.url | within: collection }}" >
                    {% assign data_title = product.title | split: '|' | first %}
                    {% assign data_json = product.title | split: '|' | last %}
                    <h6 itemprop="name" {% if settings.enable_lang_switcher %}class="title-font product-title product-space" data-trans="#{{product.id}}_pro_title"{% endif %} style="font-size: {{ section.settings.pro_title_fontsize}};">
                      {{ data_title | truncatewords: 10 }}
                    </h6>
                    {% if settings.enable_lang_switcher %}
                    <span class="hide" id="{{product.id}}_pro_title">{{ data_json | raw }}</span>
                    {% endif %}

                  </a>

                  {% if settings.eneble_login_price %}
                  {% if customer %}
                  {% if product.available %}
                  <h4 class="price">{{ product.price | money }}
                    {% if product.price < product.compare_at_price %} 
                    <del>{{ product.compare_at_price | money }}</del>
                    {% endif %}
                  </h4>
                  {% else %}
                  <h4 class="price">Sold</h4>
                  {% endif %}
                  {% else %}
                  <span class="login-price" {% if settings.enable_lang_switcher %}data-trans-key="products.product.login_to_see_price"{%endif%}>{{ 'products.product.login_to_see_price' | t }}</span>
                  {% endif %}
                  {% elsif settings.show_catelogue  %}
                  {% if settings.show_catelogue_price %}
                  {% if product.available %}
                  <h4 class="price">{{ product.price | money }}
                    {% if product.price < product.compare_at_price %} 
                    <del>{{ product.compare_at_price | money }}</del>
                    {% endif %}
                  </h4>
                  {% else %}
                  <h4 class="price">Sold</h4>
                  {% endif %}
                  {% endif %}
                  {% else %}
                  {% if product.available %}
                  <h4 class="price">{{ product.price | money }}
                    {% if product.price < product.compare_at_price %} 
                    <del>{{ product.compare_at_price | money }}</del>
                    {% endif %}
                  </h4>
                  {% else %}
                  <h4 class="price">Sold</h4>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>

            {% if collection.products.size > 3 %}
            <div>
              {% for product in collection.products limit:4 %}
              {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
              {% if thecycle == 'even' %}
              <div class="media">
                <a href="{{ product.url | within: collection }}" >
                  {% if section.settings.use_equal_height %}
                  <div>
                    <span class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %}" data-bgset="{% include 'bg-set', image: product.featured_image %}" data-sizes="auto" data-parent-fit="cover"></span>
                  </div>        
                  {% else %}
                  {% assign block_image = product.featured_image %}
                  {% assign img_url = block_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img src="{{ block_image | img_url: 'original' }}" 
                       data-src="{{ img_url }}" 
                       data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
                       data-aspectratio="{{  block_image.aspect_ratio }}" 
                       data-sizes="auto" 
                       class="lazyload {% if settings.enable_blur_lazy_load %} blur-up {% endif %} img-fluid" alt="{{block_image.alt}}"
                       >
                  {% endif %}
                </a>
                <div class="media-body align-self-center">
                  <a href="{{ product.url | within: collection }}" >
                    {% assign data_title = product.title | split: '|' | first %}
                    {% assign data_json = product.title | split: '|' | last %}
                    <h6 itemprop="name" {% if settings.enable_lang_switcher %}class="title-font product-title product-space" data-trans="#{{product.id}}_pro_title"{% endif %} style="font-size: {{ section.settings.pro_title_fontsize}};">
                      {{ data_title | truncatewords: 10 }}
                    </h6>
                    {% if settings.enable_lang_switcher %}
                    <span class="hide" id="{{product.id}}_pro_title">{{ data_json | raw }}</span>
                    {% endif %}
                  </a>

                  {% if settings.eneble_login_price %}
                  {% if customer %}
                  {% if product.available %}
                  <h4 class="price">{{ product.price | money }}
                    {% if product.price < product.compare_at_price %} 
                    <del>{{ product.compare_at_price | money }}</del>
                    {% endif %}
                  </h4>
                  {% else %}
                  <h4 class="price">Sold</h4>
                  {% endif %}
                  {% else %}
                  <span class="login-price" {% if settings.enable_lang_switcher %}data-trans-key="products.product.login_to_see_price"{%endif%}>{{ 'products.product.login_to_see_price' | t }}</span>
                  {% endif %}
                  {% elsif settings.show_catelogue  %}
                  {% if settings.show_catelogue_price %}
                  {% if product.available %}
                  <h4 class="price">{{ product.price | money }}
                    {% if product.price < product.compare_at_price %} 
                    <del>{{ product.compare_at_price | money }}</del>
                    {% endif %}
                  </h4>
                  {% else %}
                  <h4 class="price">Sold</h4>
                  {% endif %}
                  {% endif %}
                  {% else %}
                  {% if product.available %}
                  <h4 class="price">{{ product.price | money }}
                    {% if product.price < product.compare_at_price %} 
                    <del>{{ product.compare_at_price | money }}</del>
                    {% endif %}
                  </h4>
                  {% else %}
                  <h4 class="price">Sold</h4>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="text-right">
            <a href="{{ collection.url }}">View More</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
<!--small slider section-->

{% schema %}
{
   "name":"Featured Columns  Banner",
   "max_blocks":5,
   "settings":[
      {
         "type":"checkbox",
         "id":"enabled",
         "default":true,
         "label":"Enabled "
      },
  {
         "type":"checkbox",
         "id":"enable_bg_img",
         "default":true,
         "label":"Enabled  image"
      },
    {
         "type":"checkbox",
         "id":"enabled_overlay",
         "default":true,
         "label":"Enabled overlay "
      },

        {
        "type": "color",
        "id": "image_bg_color",
        "label": "section background Color",
        "default": "#f2f2f2",
        "info": "Default Value: #f2f2f2"
        },
        {  
        "type":"image_picker",
        "id":"slider",
        "label":"Slide Image (1920 x 750 PX)"
        },
{
      "type": "header",
      "content": "Slider height"
     },
    {
      "type": "range",
      "id": "slider_height",
      "min": 50,
      "max": 100,
      "step": 5,
      "unit": "vh",
      "label": "Section height",
      "default": 75
    },
    {
      "type": "header",
      "content": "Slider settings"
     },
    {
      "type": "range",
      "id": "slider_speed",
      "min": 1,
      "max": 30,
      "step": 1,
      "label": "Autoplay Speed in milliseconds",
      "unit": "sec",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "use_autoplay",
      "label": "Use autoplay?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_arrows",
      "label": "Use Arrows?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_dots",
      "default": false,
      "label": "Use dots for pagination control?"
    },
    {
      "type": "checkbox",
      "id": "use_loop",
      "label": "Use Infinite loop sliding?",
      "default": false
    },
      {
        "type": "header",
        "content": "Image Design Option"
      },
      {
        "type": "checkbox",
        "id": "use_equal_height",
        "label": "Use height Option for images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "ratio_landscape",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio_landscape",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio_square",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_asos",
            "label": "Ratio ASOS"
          },
          {
            "value": "ratio_portrait",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "Full"
          },
          {
            "value": "contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position2",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      }
   ],
   "blocks":[
      {
         "type":"column",
         "name":"Column",
         "settings":[
            {
               "type":"text",
               "id":"title",
               "label":"Heading",
               "default":"Product Tab"
            },
           {
               "type": "textarea",
               "id": "trans_title",
               "label": "Translate Main Title"
            },
            {
               "type":"collection",
               "id":"collection",
               "label":"Select Collection"
            }
         ]
      },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        }

      ]
    }
   ],
   "presets":[
      {
         "name":"Featured Columns  Banner",
         "category":"Product",
         "settings":{

         },
         "blocks":[
           {
               "type":"banner"
            },
            {
               "type":"column"
            },
            {
               "type":"column"
            },
            {
               "type":"column"
            },
{
               "type":"banner"
            }
         ]
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
