
{% assign glo3d = product.metafields.glo3d %}
{% capture glo3dThumb %}https://us-central1-glo3d-c338b.cloudfunctions.net/streamPic/{{ glo3d.url | replace: 'https://glo3d.net/', '' }}{% endcapture %}
{% capture glo3dUrl %}{{ glo3d.url | replace: "glo3d.net/", "glo3d.net/iFrame/"}}?autoLoad=true&autoRotate=true{% endcapture %}
<section id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% assign current_variant = product.selected_or_first_available_variant -%}
  {% assign product_image_zoom_size = '1024x1024' -%}
  {% assign option_style = section.settings.product_opt_type -%}
  {% assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src %}
  {% assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt %}

  <div class="container">
    <div class="row product-main product-layout-1">
      <div class="col-sm-12">
        {% include 'breadcrumb' %}
      </div>

      {% if section.settings.image_position == 'pull-left' %}
      {% include 'product-images' %}
      {% endif %}

      <div class="{% if section.settings.layout == 'full-width-img' %}col-lg-8 offset-lg-2 col-12  {% else %}col-lg-6{% endif %}">
         {% include 'random-sale'  %}
        <div class="product-right">
            {% assign data_title = product.title | split: '|' | first %}
            {% assign data_json = product.title | split: '|' | last %}
            <h2 itemprop="name" {% if settings.enable_lang_switcher %}class="title-font product-title product-space lang_trans" data-trans="#{{product.id}}_pro_title"{% endif %} style="font-size: {{ section.settings.pro_title_fontsize}};">
              {{ data_title | truncatewords: 10 }}
            </h2>
            {% if settings.enable_lang_switcher %}
            <span class="hide" id="{{product.id}}_pro_title">{{ data_json | raw }}</span>
            {% endif %}

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            {% if settings.eneble_login_price %}
            {% if customer %}
            <h2 class="price product-space" id="product_price">
              {{ current_variant.price | money }}
              {% if current_variant.compare_at_price > current_variant.price %}
              <del id="product_compare_price">{{ current_variant.compare_at_price | money }}</del>
              {% endif %}
            </h2>
            {% else %}
               <span class="login-price" {% if settings.enable_lang_switcher %}data-trans-key="products.product.login_to_see_price"{%endif%}>{{ 'products.product.login_to_see_price' | t }}</span>
            {% endif %}
            {% elsif settings.show_catelogue  %}
            {% if settings.show_catelogue_price %}
            <h2 class="price product-space" id="product_price">
              {{ current_variant.price | money }}
              {% if current_variant.compare_at_price > current_variant.price %}
              <del id="product_compare_price">{{ current_variant.compare_at_price | money }}</del>
              {% endif %}
            </h2>
            {% endif %}
            {% else %}
            <h2 class="price product-space" id="product_price">
              {{ current_variant.price | money }}
              {% if current_variant.compare_at_price > current_variant.price %}
              <del id="product_compare_price">{{ current_variant.compare_at_price | money }}</del>
              {% endif %}
            </h2>
            {% endif %}

            <div id="sold-out" class="sold_notify_form">
              {% form 'contact' %}
              {% if form.posted_successfully? %}
              <p class="accent-text">Thanks! We will notify you when this product becomes available!</p>
              {% else %}
              <p>Click <a id="notify-me" href="#"><strong>here</strong></a> to be notified by email when 
                becomes available.</p>
              {% endif %}
              {% if form.errors %}
              <div class="error feedback accent-text">
                <p>Please provide a valid email address.</p>
              </div>
              {% endif %}
              {% unless form.posted_successfully? %}
               <div class="col-xl-7 col-md-12 pl-0"> 
              <div id="notify-me-wrapper" style="display:none">
                <input required="required" type="email" name="contact[email]" placeholder="your@email.com" class="form-control {% if form.errors contains 'email' %} error{% endif %}" value="{{ contact.fields.email }}" />
                <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
                <button id="submit" class="btn btn-secondary" name="submit">{{ 'contact.form.submit' | t }}</button>  
              </div>
            </div>
              {% endunless %}
              {% endform %}
            </div>
            
            <hr>

            <div itemprop="description">
              <p>{{ product.description | split: '[countdowntimer-date-start]' | first | strip_html | truncatewords: 30 }}</p>
            </div>
            <hr>


            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm_id" data-section="{{ section.id }}"> 
              {% if option_style contains 'dropdown_list' %}

              <select name="id" id="productSelect" data-section="{{ section.id }}" class="product-form__variants no-js hide">
                {% for variant in product.variants %}
                {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
                {% else %}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
                {% endfor %}
              </select>

              {% else %}

              <select name="id" id="productSelect" style="display:none !important">
                {% for variant in product.variants %}
                {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
                {% endif %}
                {% endfor %}
              </select>

              {% assign swatch_shape = section.settings.swatches_option %}
              {% if product.available and product.variants.size > 1 %}
              {% for option in product.options %}
              {% include 'swatch' with option %}
              {% endfor %}
              {% endif %}  

              {% endif %}
              <hr>
              {% if section.settings.show_product_inventory %}
                 <div class="pro_inventory" style="width: 80%;"> 
                  {% for variant in product.variants %}
                  {% if variant.inventory_management == "shopify" and variant.inventory_policy != "continue" and  variant.inventory_quantity <= 10 %}
                  <p data-value="{{variant.title}}">Hurry! We have only {{ variant.inventory_quantity }} product in stock.</p>
                  {% assign progress = variant.inventory_quantity %}

                  <div class="inventory-scroll nostripes" data-value="{{variant.title}}"> <span style="width: {{  100 | minus: progress }}%;"></span></div>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
                       

              <div class="product-qty-btn mb-4 mt-4">
                {% if section.settings.show_qty_selector %}
                <span class="mr-3" {% if settings.enable_lang_switcher %}data-trans-key="products.product.quantity"{%endif%}>{{ 'products.product.quantity' | t }}</span>
                <div class="qty-box mr-3">
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button type="button" class="btn quantity-left-minus" data-type="minus" data-field="">
                        <i class="icon-angle-left"></i>
                      </button>
                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                    <span class="input-group-prepend">
                      <button type="button" class="btn quantity-right-plus" data-type="plus" data-field="">
                        <i class="icon-angle-right"></i>
                      </button>
                    </span>
                  </div>
                </div>
                {% endif %}
             
                {% if settings.show_catelogue != true %}
                <div class="product-buttons">
                  <button type="submit" id="addtocart_btn_id" class="add_to_cart_btn_cls cart_btn_class btn btn-secondary mr-1" {% unless current_variant.available %}disabled="disabled"{% endunless %} {% if settings.enable_lang_switcher %}data-trans-key="products.product.add_to_cart"{%endif%}>{{ 'products.product.add_to_cart' | t }}</button>
                  {% if section.settings.show_buy_now_btn %}
                  <div class="dynamic-payment-button ml-2">
                    <div data-shopify="payment-button" class="shopify-payment-button">
                      <button type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded">{{ 'products.product.but_now' | t }}</button>
                      <button aria-disabled="true" aria-hidden="true" class="shopify-payment-button__more-options shopify-payment-button__button--hidden" type="button">More payment options</button>
                    </div>
                  </div>
                  {% endif %}

                  {{ form | payment_button }}

                </div>
                {% endif %}
              </div>
              <hr>
            </form>
            <div class="inquiry_us">
               <h5 class="mb-1">
                Please 
                 <a href="#">contact us</a> if you are interested in   this product.
              </h5>
               <span>
                  <a href="" class="inqury_wrapper"   data-toggle="modal"  {% if settings.enable_lang_switcher %}data-trans-key="products.product.ask_abt_pro"{%endif%} data-target="#myModal">{{ 'products.product.ask_abt_pro' | t }}</a>
               </span>
               </div>
            <hr>
            {% if product.description contains '[countdowntimer-date-start]' %}
            {% if section.settings.show_countdown_timer %}
            <div class="timer product-space">
              <span>{{ section.settings.countdown_timer_title }}</span>
              <div id="timer"></div>
              {% assign description_size = product.description | split: '[countdowntimer-date-start]' | last -%}
              <div>{{ description_size | split: '[countdowntimer-date-end]' | first }}</div>
            </div>
            {% endif %}
            {% endif %}


            <div class="product-space">
              {% if section.settings.show_share_buttons %}
             <span {% if settings.enable_lang_switcher %}data-trans-key="products.product.social_share"{%endif%}>{{ 'products.product.social_share' | t }}</span>
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
              {% endif %}

              <!-- ========================= wishlist button ========================= -->

               {% if section.settings.show_wishlist_button %}

              {% if customer %}
              {% capture value %}{{ product.id }}{% endcapture %}
              {% capture productID %}{{ product.id }}{% endcapture %}

              {% for tag in customer.tags %}
              {% capture tagID %}{{ tag }}{% endcapture %}
              {% if tagID contains productID %}
              {% assign value = 'x' | append:tag %}
              {% endif %}
              {% endfor %}

              {% assign check = value.size | minus:productID.size | modulo:2 %}
              {% if check == 0 %}
              {% assign display_button = true %}
              {% else %}
              {% assign display_button = false %}
              {% endif %}

              {% if display_button %}
              <form accept-charset="UTF-8" id="wish_list" action="/contact" method="post"  class="d-inline-block">
                  <input name="form_type" type="hidden" value="customer">
                  <input name="utf8" type="hidden" value="✓">
                  <input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
                  <input id="update-me" type="hidden" name="contact[tags]" value="{{ value }}" />
                  <button type="submit" title="Wishlist" class="wishlist-btn">
                    <i class="fa fa-heart"></i><span {% if settings.enable_lang_switcher %}data-trans-key="products.product.add_wishlist"{%endif%}>{{ 'products.product.add_wishlist' | t }}</span>
                  </button>
                </form>
                {% else %}
                <a href="/pages/wishlist" title="Wishlist" class="added_wish added_wishlist_product wishlist-btn">
                  <i class="fa fa-heart"></i><span>Add To WishList</span>
                </a>
                {% endif %}
                {% else %}
                <a href="/account/login" title="Wishlist" class="wishlist-btn">
                  <i class="fa fa-heart"></i><span {% if settings.enable_lang_switcher %}data-trans-key="products.product.add_wishlist"{%endif%} >{{ 'products.product.add_wishlist' | t }}</span>
                </a>
              {% endif %}
              {% endif %}
            </div>

          </div>

        </div>
      </div>

      {% if section.settings.image_position == 'pull-right' %}
      {% include 'product-images' %}
      {% endif %}

    </div>

   <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
          {% if section.settings.enable_tab_1 %}
          <li class="nav-item">
            <a class="nav-link active {% if settings.enable_lang_switcher %}lang_trans{% endif %}" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab" aria-controls="top-home" aria-selected="true" {% if settings.enable_lang_switcher %}data-trans="#tab1_{{sectionId}}_tab_title_1"{% endif %}>
              <i class="icofont icofont-ui-home " ></i>  
              {{ section.settings.tab_title_1 }}             
             </a>
           {% if settings.enable_lang_switcher %}
           <span class="hide" id="tab1_{{sectionId}}_tab_title_1">{{ section.settings.trans_tab_title_1 | raw }}</span>
          {% endif %}

            <div class="material-border"></div>
          </li>
          {% endif %}
          {% if section.settings.enable_tab_2 %}
          <li class="nav-item">
            <a class="nav-link  {% if settings.enable_lang_switcher %}lang_trans{% endif %}" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab" aria-controls="profile-icon" aria-selected="false" {% if settings.enable_lang_switcher %}data-trans="#tab2_{{sectionId}}_tab_title_2"{% endif %}>
              <i class="icofont icofont-man-in-glasses" ></i>
               {{ section.settings.tab_title_2 }}</a>
               {% if settings.enable_lang_switcher %}
                 <span class="hide" id="tab2_{{sectionId}}_tab_title_2">{{ section.settings.trans_tab_title_2 | raw }}</span>
                {% endif %}
            <div class="material-border"></div>
          </li>
          {% endif %}
          {% if section.settings.enable_tab_3 %}
          <li class="nav-item">
            <a class="nav-link {% if settings.enable_lang_switcher %}lang_trans{% endif %}" id="contact-top-tab" data-toggle="tab" href="#top-contact" role="tab" aria-controls="contact-icon" aria-selected="false" 
            {% if settings.enable_lang_switcher %} data-trans="#tab3_{{sectionId}}_tab_title_3"{% endif %}>
               <i class="icofont icofont-contacts "></i>
                {{ section.settings.tab_title_3 }}</a>
               {% if settings.enable_lang_switcher %}
                 <span class="hide" id="tab3_{{sectionId}}_tab_title_3">{{ section.settings.trans_tab_title_3 | raw }}</span>
                {% endif %}
            <div class="material-border"></div>
          </li>
          {% endif %}
          {% if section.settings.enable_tab_4 %}
          <li class="nav-item">
            <a class="nav-link {% if settings.enable_lang_switcher %}lang_trans{% endif %}" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab" aria-controls="contact-icon" aria-selected="false" 
            {% if settings.enable_lang_switcher %}data-trans="#tab4_{{sectionId}}_tab_title_4"{% endif %}>
               <i class="icofont icofont-contacts"></i> {{ section.settings.tab_title_4 }}</a>
                {% if settings.enable_lang_switcher %}
                 <span class="hide" id="tab4_{{sectionId}}_tab_title_4">{{ section.settings.trans_tab_title_4 | raw }}</span>
                {% endif %}
            <div class="material-border"></div>
          </li>
          {% endif %}
        </ul>
        <div class="tab-content nav-material" id="top-tabContent">
          {% if section.settings.enable_tab_1 %}
          <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
            <p>
              {{ product.description  | split: '[countdowntimer-date-start]' | first }}
            </p>
          </div>
          {% endif %}
          {% if section.settings.enable_tab_2 %}
          <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
            <div class="mt-3 text-center">
              {% assign size_page = section.settings.size_guide_page %}
              {{ pages[size_page].content }}
            </div>
          </div>
          {% endif %}
          {% if section.settings.enable_tab_3 %}
          <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
            <div class="mt-3 text-center">
              {% assign description_iframe = product.description | split: '[description-iframe-start]' | last -%}
              {{ description_iframe | split: '[description-iframe-end]' | first }}
            </div>
          </div>
          {% endif %}
          {% if section.settings.enable_tab_4 %}
          <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</section>
<!--Product section ends-->
<!-- Related products -->
{% include 'related-products' %}

{% include 'recently-viewed' %}


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}


<!-- The Modal -->
<div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
         <h2 class="modal-title {% if settings.enable_lang_switcher %}lang_trans{% endif %}" {% if settings.enable_lang_switcher %}data-trans="#product-temp{{sectionId}}_title"{% endif %}>
            {{ section.settings.inquery_title }}
          </h2>
          {% if settings.enable_lang_switcher %}
          <span class="hide" id="product-temp{{sectionId}}_title">{{ section.settings.trans_inquery_title | raw }}</span>
          {% endif %}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="col-sm-12">
          {% form 'contact', class: 'theme-form' %}

          {% if form.posted_successfully? %}
          <p class="alert alert-success">
            {{ 'contact.form.post_success' | t }}
          </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="form-row">
                <div class="col-md-6">
                <label for="name" {% if settings.enable_lang_switcher %}data-trans-key="contact.form.name"{%endif%}>{{ 'contact.form.name' | t }}</label>
                <input type="text" class="form-control" placeholder="{{ 'contact.form.name' | t }}" id="ContactFormName" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="">
              </div>
              <div class="col-md-6">
                <label for="email" {% if settings.enable_lang_switcher %}data-trans-key="contact.form.email"{%endif%}>{{ 'contact.form.email' | t }}</label>
                <input type="email" required="" class="form-control" placeholder="{{ 'contact.form.email' | t }}" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
              <div class="col-md-12">
                <label for="review" {% if settings.enable_lang_switcher %}data-trans-key="contact.form.phone"{%endif%}>{{ 'contact.form.phone' | t }}</label>
                <input type="tel" class="form-control" placeholder="{{ 'contact.form.phone' | t }}" id="ContactFormPhone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" required="">
              </div>
              <div class="col-md-12">
                <label for="review" {% if settings.enable_lang_switcher %}data-trans-key="contact.form.message"{%endif%}>{{ 'contact.form.message' | t }}</label>
                <textarea class="form-control" placeholder="{{ 'contact.form.message' | t }}" id="ContactFormMessage" name="contact[body]" rows="6"></textarea>
              </div>
              <div class="col-md-12">
                <button id="submit" class="btn btn-secondary" name="submit" {% if settings.enable_lang_switcher %}data-trans-key="contact.form.submit"{%endif%}>{{ 'contact.form.submit' | t }}</button>
              </div>
          </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  $( document ).ready(function() {
    $('#notify-me').click(function() {
      jQuery('#notify-me-wrapper').fadeIn();           
      return false;
    });

    $('.product-slider').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      infinite: false,
      asNavFor: '.product-nav'
    });

    if ($(window).width() > 479) {
      $('.col-3 .product-nav').slick({
        vertical: true,
        verticalSwiping: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.product-slider',
        arrows: false,
        infinite: false,
        dots: false,
        focusOnSelect: true
      });
    }else{
      $('.col-3 .product-nav').slick({
        vertical: false,
        verticalSwiping: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.product-slider',
        arrows: false,
        infinite: false,
        dots: false,
        focusOnSelect: true,
        responsive: [
          {
            breakpoint: 479,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          }
        ]
      });
    }

    $('.col-12 .product-nav, .col-xl-8 .product-nav').slick({
      vertical: false,
      verticalSwiping: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.product-slider',
      arrows: false,
      dots: false,
      infinite: false,
      focusOnSelect: true
    });
  });


  var selectCallback = function(variant, selector){
    {% if section.settings.variant_style == 'color-swatches' %}
    if (variant){
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for(var i=0,length=variant.options.length; i<length; i++){
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if(radioButton.size()){
          radioButton.get(0).checked = true;
        }
      }
    }
    {% endif %}   

   if (variant && variant.available == true){
      var shop_curr = '{{shop.money_format}}';
      // selected a valid variant
      jQuery('#addtocart_btn_id').removeClass('disabled').removeAttr('disabled');
      jQuery('#product_price').html(Shopify.formatMoney(variant.price, shop_curr));
      jQuery('#product_compare_price').html(Shopify.formatMoney(variant.compare_at_price, shop_curr));
       jQuery('.sold_notify_form').hide();
        var var_title = variant.title;
       jQuery('.pro_inventory p, .inventory-scroll').each(function() {
        var inventry_val = jQuery(this).attr('data-value');
        if(inventry_val == var_title){
          jQuery(this).addClass('active');
        }else{
          jQuery(this).removeClass('active');
        }
      });
      jQuery('.pro_inventory p, .inventory-scroll').hide();
      jQuery('.pro_inventory p.active, .inventory-scroll.active').show();

    } else{
      // variant doesn't exist
      jQuery('#addtocart_btn_id').addClass('disabled').attr('disabled', 'disabled');
      var message = variant ? "Sold Out" : "Unavailable";
      jQuery('#product_price').text(message);
      jQuery('#product_compare_price').html('');
      jQuery('.sold_notify_form').show();
      jQuery('.pro_inventory p, .inventory-scroll').hide();

    }

    // END SWATCHES
    if (variant && variant.featured_image){
      var originalImage = $(".product-slider .slick-active img");
      var newImage = variant.featured_image;
      var element = originalImage[0];
      // console.log(element);

      //group image
      {% if settings.group_video_features == "group_img" %}
        var group_img_src = String(variant.featured_image.alt);
        if(group_img_src != 'null'){
          jQuery('.product-nav .slick-slide').each(function() {
            var _group_class = jQuery(this).find('img').attr("alt");
            jQuery(this).addClass(_group_class);
          });
          $('.product-nav').slick('slickUnfilter');
          $('.product-nav').slick('slickFilter','.'+group_img_src+',.group-all');
          $('.product-nav').attr('data-filter','.'+group_img_src);
        };
      {% endif %}

      Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element){
        $(".product-slider .slick-slide").each(function(index){
          var temp_img_src = $(this).find('img').attr('src');
          var temp_data_index = $(this).attr('data-slick-index');  
          if(temp_img_src == newImageSizedSrc){
            $('.product-slider').slick('slickGoTo', temp_data_index);  
          }
        });
      });
    }

  };

  jQuery(function($){
    new Shopify.OptionSelectors('productSelect',{
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    var label_text = '{{ product.options.first | escape }}';
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">'+label_text+'</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    {% endif %}

    {% unless option_style contains 'dropdown_list' %}
    $('.selector-wrapper').addClass('hide');
    {% endunless %}

  });
  {% if section.section.show_zoom_button %}
  if($(window).width() > 991){
    $('.product-slider').on('afterChange', function(event, slick, currentSlide, nextSlide){
      var img_url_temp = $(this).find('img').attr('src');
      var imgs = $('.image_zoom_cls');
      $('.zoomContainer').remove();
      imgs.removeData('elevateZoom');
      imgs.removeData('zoomImage');
      var temp_zoom_cls = '.image_zoom_cls-'+currentSlide;
      setTimeout(function(){
        $(temp_zoom_cls).elevateZoom({
          zoomType: "inner",
          cursor: "crosshair"
        });
      }, 500);
    });
  }
  if($(window).width() > 991){
    setTimeout(function(){
      var img_zoom_class = $(".product-slider .slick-active img").attr('class');
      $('.'+img_zoom_class).elevateZoom({
        zoomType: "inner",
        cursor: "crosshair"
      });
    }, 500);
  }  
  {% endif %}

  /*$('.size-chart').magnificPopup({
    type:'inline',
    midClick: true
  });*/


  //Timer js
  var timer_date = $('.timer_date').attr('data-date');
  var countDownDate = new Date(timer_date).getTime();
  var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("timer").innerHTML = "<span>" + days + "<span class='timer-cal'>Days</span></span> " + "<span>" + hours + "<span class='timer-cal'>Hrs</span></span> "
    + "<span>" + minutes + "<span class='timer-cal'>Min</span></span> " + "<span>" + seconds + "<span class='timer-cal'>Sec</span></span> ";
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("timer").innerHTML = "EXPIRED";
    }
  }, 1000);


</script>


{% schema %}
{  
   "name":"Product Page layout",
   "settings":[  
      {  
         "type":"header",
         "content":"Product Page Layout"
      },
      {  
         "type":"select",
         "id":"layout",
         "label":"Product Page Style",
         "options":[  
            {  
               "value":"thumbnails-left",
               "label":"Thumbnails Left"
            },
            {  
               "value":"thumbnails-right",
               "label":"Thumbnails Right"
            },
            {  
               "value":"thumbnails-bottom",
               "label":"Thumbnails Bottom"
            },
            {  
               "value":"full-width-img",
               "label":"Full width Image"
            }
         ],
         "default":"thumbnails-right"
      },
      {  
         "type":"select",
         "id":"image_position",
         "label":"Gallery Image Position",
         "options":[  
            {  
               "value":"pull-left",
               "label":"left"
            },
            {  
               "value":"pull-right",
               "label":"right"
            }
         ],
         "default":"pull-left"
      },
      
      {  
         "type":"header",
         "content":"General Options"
      },
      {  
         "type":"checkbox",
         "id":"show_zoom_button",
         "label":"Show zoom",
         "default":true
      },
      {  
         "type":"checkbox",
         "id":"show_wishlist_button",
         "label":"Show wishlist buttons",
         "default":true
      },
      {  
         "type":"checkbox",
         "id":"show_qty_selector",
         "label":"Show Quantity Selector",
         "default":true
      },
     {
         "type":"checkbox",
         "id":"show_buy_now_btn",
         "label":"Show Buy Now Buttton",
         "default":true
      },
      {  
         "type":"checkbox",
         "id":"show_share_buttons",
         "label":"Show social sharing buttons",
         "default":true
      },

      {
         "type": "checkbox",
         "id": "show_sku",
         "label": "Show Product SKU",
         "default": false
      },
      {
         "type": "checkbox",
         "id": "show_vendor",
         "label": "Show Product Vendor",
         "default": false
      },
      {
         "type": "checkbox",
         "id": "show_type",
         "label": "Show Product Type",
         "default": false
      },
      {
         "type": "checkbox",
         "id": "show_avalibity_option",
         "label": "Show Product avalibity",
         "default": false
      },
      {
         "type": "checkbox",
         "id": "show_product_inventory",
         "label": "Show Product Inventory",
         "default": true
      },
      {  
         "type":"header",
         "content":"inquery form Options"
       },
        {  
         "type":"text",
         "id":"inquery_title",
         "label":"inquery title",
         "info":"Have a questions?"
      },

        {
         "type": "textarea",
         "id": "trans_inquery_title",
         "label": "Translate inquery Title"
      },
      {  
         "type":"header",
         "content":"Timer Options"
      },
      {  
         "type":"checkbox",
         "id":"show_countdown_timer",
         "label":"Show Countdown Timer",
         "default":true
      },
      {  
         "type":"text",
         "id":"countdown_timer_title",
         "label":"Countdoen timer title",
         "info":"Hurry !!! 1 day left!"
      },
      {
         "type":"textarea",
         "id":"trans_countdown_title",
         "label":"Translate Countdown timer title"
      },
      {  
         "type":"header",
         "content":"Swatches Options"
      },
      {  
         "type":"select",
         "id":"product_opt_type",
         "label":"Product Option Style",
         "options":[  
            {  
               "value":"dropdown_list",
               "label":"Select Dropdown List"
            },
            {  
               "value":"color-swatches",
               "label":"Color Swatches"
            }
         ],
         "default":"color-swatches"
      },
      {  
         "type":"select",
         "id":"swatches_option",
         "label":"Swatches Shape Style",
         "options":[  
            {  
               "value":"round",
               "label":"Round"
            },
            {  
               "value":"square",
               "label":"Square"
            }
         ],
         "default":"round"
      },
      {
         "type": "radio",
         "id": "color_swatch_style",
         "options": [
         {
         	"value": "color",
         	"label": "Swatch color (use code color or name color)"
         },
         {
         	"value": "color_image",
         	"label": "Image upload (use color_name.png/30x30 Image file)"
         },
         {
         	"value": "image_variant",
         	"label": "Product variant Image for page color swtach View"
         }
      ],
      "label": "Color Swatch Style"
      },
      {  
         "type":"page",
         "id":"size_guide_page",
         "label":"Size Guide Page"
      },
      {  
         "type":"header",
         "content":"Product Tab Options"
      },
      {  
         "type":"checkbox",
         "id":"enable_tab_1",
         "label":"Enable Tab 1",
         "default":true
      },
      {  
         "type":"text",
         "id":"tab_title_1",
         "label":"Tab title 1",
         "default":"Description"
      },
       {
         "type": "textarea",
         "id": "trans_tab_title_1",
         "label": "Translate Description tab title"
       },
      {  
         "type":"checkbox",
         "id":"enable_tab_2",
         "label":"Enable Tab 2",
         "default":true
      },
      {  
         "type":"text",
         "id":"tab_title_2",
         "label":"Tab title 2",
         "default":"Size Guide"
      },
      {
         "type": "textarea",
         "id": "trans_tab_title_2",
         "label": "Translate Size Guide title"
      },
      {  
         "type":"checkbox",
         "id":"enable_tab_3",
         "label":"Enable Tab 3",
         "default":true
      },
      {  
         "type":"text",
         "id":"tab_title_3",
         "label":"Tab title 3",
         "default":"Video"
      },
       {
         "type": "textarea",
         "id": "trans_tab_title_3",
         "label": "Translate Video title"
      },
      {  
         "type":"checkbox",
         "id":"enable_tab_4",
         "label":"Enable Tab 4",
         "default":true
      },
      {  
         "type":"text",
         "id":"tab_title_4",
         "label":"Tab title 4",
         "default":"Review"
      },
      {
         "type": "textarea",
         "id": "trans_tab_title_4",
         "label": "Translate Review title"
      },
 {
         "type":"header",
         "content":"Recent view Product Option"
      },
      {
         "type":"checkbox",
         "id":"show_resent_products",
         "label":"Show resent products",
         "default":true
      },
      {
         "type":"text",
         "id":"resent_product_title",
         "label":"Present Product Title",
         "default":"Recently Viewed Products"
      },
      {
         "type":"textarea",
         "id":"trans_resent_pro_title",
         "label":"Translate resent Product Title"
      },
      {
         "type":"select",
         "id":"resent_product_product_length",
         "label":"Select Recent view Product length",
         "options":[
            {
               "label":"4",
               "value":"4"
            },
            {
               "label":"5",
               "value":"5"
            },
            {
               "label":"6",
               "value":"6"
            },
            {
               "label":"12",
               "value":"12"
            }
         ],
         "default":"6"
      },
      {  
         "type":"header",
         "content":"Related Product Option"
      },
      {  
         "type":"text",
         "id":"related_product_title",
         "label":"Prelated Product Title",
         "default":"Related Products"
      },
      {
         "type": "textarea",
         "id": "trans_related_product_title",
         "label": "Translate Related Products title"
      },
      {  
         "type":"select",
         "id":"related_product_product_length",
         "label":"Select Related Product length",
         "options":[  
            {  
               "label":"4",
               "value":"4"
            },
            {  
               "label":"5",
               "value":"5"
            },
            {  
               "label":"6",
               "value":"6"
            },
            {  
               "label":"7",
               "value":"7"
            }
         ],
         "default":"6"
      }
   ]
}
{% endschema %}













